fastapi[standard]
uvicorn
pytz
elasticsearch
injector
accelerate 
langchain 
langchain-groq
langchain-huggingface 
langgraph 
sentence_transformers
duckduckgo-search
langchain-community
python-docx
PyPDF2
pymilvus==v2.6.0b0