fastapi[standard]
uvicorn
pytz
elasticsearch
injector
# accelerate 
langchain 
langchain-groq
langchain-huggingface 
langgraph 
# sentence-transformers
# transformers
ddgs
langchain-community
python-docx
PyPDF2
pymilvus[model]
pymilvus==v2.6.0b0
langchain-openai